{
    "parser": "babel-eslint",
    "plugins": [
        "weex-rx"
    ],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "arrowFunctions": true,
            "blockBindings": true,
            "defaultParams": true,
            "destructuring": true,
            "forOf": true,
            "generators": true,
            "objectLiteralComputedProperties": true,
            "objectLiteralShorthandMethods": true,
            "objectLiteralShorthandProperties": true,
            "restParams": true,
            "spread": true,
            "templateStrings": true,
            "modules": true,
            "classes": true
        }
    },
    "rules": {
        no-unused-vars: 0,
        "no-unreachable":[2],
        comma-dangle: ["error", "ignore"],
        "indent": 0,
        "space-infix-ops":0,
        "weex-rx/no-unsupported-style":[2, { "forbid": [], "allow":[] }],
        "weex-rx/jsx-no-undef":[2],
        "weex-rx/jsx-wrap-multilines":[2],
    }
}
